body {
  background-color: #BB133E;
  color: white;
}
nav a {
  color: white;
  float: right;
  font-size: 24px;
  margin-right: 12px;
  margin-top: 6px;
  text-decoration: none;
}
nav a.active {
  text-decoration: underline;
}

#email, #home, #phone {
  text-align: center;
}
#name {
  margin-left: 6px;
}
#phonebutton {
  background-color: #BB133E;
  border: none;
  color: white;
  font-family:'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bold;
  padding: 0px;
}

.about {
  text-align: center;
}
.about img {
  display: inline-block;
  margin-right: 12px;
  max-height: 40%;
  max-width: 40%;
}
.about p {
  display: inline-block;
  max-width: 30%;
  text-align: left;
  vertical-align: top;
}
